@import "tailwindcss";
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-bebas-bold {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.clip-diagonal {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}
.clip-diagonal-righrt {
  clip-path: polygon(60% 0, 75% 100%, 40% 100%, 0% 100%, 0 50%, 0% 0%);
}
